.menu {
  display: flex;
  color: $darkest;
}

.menu__main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 2px;
  margin-right: 3px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 0;
    padding-top: 84px;
  }
}

.menu__item {
  margin-right: 40px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    height: 60px;
    margin-bottom: 30px;
  }
}

.menu__link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  position: relative;

  @media (max-width: $tablet-width) {
    background-color: $light;
    display: block;
    height: 100%;
    padding: 17px 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $dark_grey;
  }

  &:hover {
    color: $accent;
  }

  & svg {
    display: none;

    @media (max-width: $tablet-width) {
      display: inline;
      position: absolute;
      top: 23px;
      right: 25px;
    }
  }
}

.menu__phone {
  color: inherit;
  font-size: 18px;
  font-weight: normal;
  margin-top: 3px;
  margin-right: 15px;
  padding-left: 50px;
  position: relative;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover {
    color: $accent;
  }

  & svg {
    position: absolute;
    top: -4px;
    left: 11px;
    stroke: currentColor;
  }
}
