.page {
  height: 100%;
  font-family: "Montserrat", "Verdana", sans-serif;
}

.page__body {
  min-width: 320px;
  margin: 0;
  background-color: $basic_white;
  color: $basic_black;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
