.page-main {
  background-color: $basic_white;
  background-image: url("../img/map-bg@1x.png");
  background-repeat: no-repeat;
  background-position: center 2587px;
  background-size: auto;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}
