.page-footer__wrapper {
  display: flex;
  padding-left: 28px;
  padding-right: 2px;
  padding-bottom: 60px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    padding-right: 21px;
    padding-left: 21px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.page-footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $dark;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $mobile-width) {
    text-align: center;
    padding-right: 10px;
  }
}

.page-footer__directions {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-width) {
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 26px;
  }
}

.page-footer__item {
  width: 128px;
  margin-bottom: 8px;

  @media (max-width: $tablet-width) {
    margin-bottom: 6px;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    margin-bottom: 14px;
  }
}

.page-footer__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
  text-decoration: none;
}

.page-footer__block {
  flex-grow: 1;
  max-width: 390px;
  border-right: 1px solid $light_grey;

  @media (max-width: $mobile-width) {
    border-right: none;
    border-bottom: 1px solid $light_grey;
    max-width: none;
    width: 100%;
  }

  &:nth-child(2) {
    padding-left: 88px;
    padding-right: 30px;

    @media (max-width: $tablet-width) {
      border: none;
      padding-left: 55px;
      padding-right: 0;
    }

    @media (max-width: $mobile-width) {
      padding-left: 0;
      padding-top: 29px;
    }
  }

  &:last-child {
    border-right: 0;
    padding-left: 48px;
    padding-right: 20px;

    @media (max-width: $tablet-width) {
      border-top: 1px solid $light_grey;
      flex-grow: 1;
      max-width: none;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      padding-top: 37px;
    }

    @media (max-width: $mobile-width) {
      border-bottom: none;
      padding-top: 30px;
    }
  }
}

.page-footer__block:last-child .page-footer__title {
  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.page-footer__contacts {
  @media (max-width: $mobile-width) {
    text-align: center;
    padding-right: 11px;
  }
}

.page-footer__phone,
.page-footer__email {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $accent;
  padding-left: 42px;
  margin-bottom: 19px;
  position: relative;

  @media (max-width: $mobile-width) {
    display: inline-block;
  }

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    stroke: #d7d9df;
  }
}

.page-footer__email {
  margin-top: 22px;

  @media (max-width: $mobile-width) {
    margin-top: 3px;
  }
}

.page-footer__email-long {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-footer__email-short {
  display: none;

  @media (max-width: $tablet-width) {
    display: inline;
  }
}

.page-footer__phone {
  font-size: 16px;
  line-height: 32px;

  @media (max-width: $mobile-width) {
    margin-bottom: 14px;
  }
}

.page-footer__paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 21, 23, 0.5);
}
