.places {
  display: none;
}

.places__wrapper {
  padding-top: 154px;
  margin-bottom: -1px;
  max-width: 1320px;
  padding-left: 75px;

  @media (max-width: $tablet-width) {
    padding-top: 37px;
    padding-left: 51px;
    margin-bottom: 90px;
  }
}

.places__top {
  width: 358px;

  @media (max-width: $tablet-width) {
    width: 373px;
    margin: 0 auto;
    padding-right: 30px;
  }
}

.places__title {
  line-height: 80px;
  letter-spacing: -1.245px;
  position: relative;
  padding-bottom: 33px;
  margin-bottom: 31px;

  @media (max-width: $tablet-width) {
    letter-spacing: normal;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 229px;
    height: 4px;
    background-color: $accent;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.places__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba($dark, 0.7);
  margin-bottom: 55px;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-top: 4px;
    padding-top: 0;
    margin-bottom: 39px;
  }
}

.places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places__item {
  position: relative;
  margin-right: 60px;
  margin-bottom: 102px;
  width: 350px;
  height: 430px;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

.places__country {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 215px;
  min-height: 61px;
  background-color: $basic_white;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.415px;
  color: $dark;
  padding-top: 17px;
}
