.popup-buy {
  background-image: url("../img/sea-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
  padding: 72px 0 89px 338px;

  @media (max-width: $mobile-width) {
    background-image: none;
    padding: 100px 16px;
  }
}

.popup-buy__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: $dark_grey;
}

.popup-buy__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-buy__input {
  width: 270px;
  height: 50px;
  border: 1px solid $light_grey;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $dark_grey;
  padding: 15px;

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.popup-buy__button {
  border: 0;
  width: 176px;
  height: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.popup-success {
  font-weight: 500;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: $dark_grey;
  padding: 179px 165px;
}
