.price {
  background-color: transparent;
  padding-bottom: 80px;

  // display: none;

  @media (max-width: $mobile-width) {
    padding-bottom: 10px;
  }
}

.price__wrapper {
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.price__block {
  max-width: 310px;
  padding-left: 11px;
  margin-right: -10px;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    max-width: none;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.price__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $dark;
  margin-top: 112px;
  padding-bottom: 17px;
  position: relative;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    margin-top: 87px;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    margin-top: 92px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $accent;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.price__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba($dark, 0.7);
  margin-bottom: 61px;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
  }
}

.price__contact span {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $dark;
  display: block;
  padding-left: 46px;
  margin-bottom: 12px;

  @media (max-width: $tablet-width) {
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    padding-left: 0;
  }
}

.price__contact .price__phone {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: $basic_black;
  position: relative;

  @media (max-width: $tablet-width) {
    color: $accent;
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 21px;
  }

  & svg {
    stroke: $accent;
    position: absolute;
    top: 0;
    left: -4px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
