.promo {
  min-height: 860px;
  color: $basic_white;
  background-color: $dark;
  background-image: url("../img/meteora-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/meteora-bg@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    min-height: 344px;
  }

  @media (max-width: $mobile-width) {
    background-position: center top;
    height: 235px;
    min-height: auto;
    margin-bottom: 201px;
  }
}

.promo__wrapper {
  padding-top: 185px;

  @media (max-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 82px;
  }
}

.promo__block {
  width: 390px;
  margin-left: auto;
  margin-right: 80px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 398px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.promo__title {
  color: inherit;
  margin: 0;
  letter-spacing: -1.10667px;
  line-height: 80px;
  margin-bottom: 28px;

  @media (max-width: $tablet-width) {
    line-height: 45px;
    letter-spacing: normal;
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    line-height: 36px;
    padding-left: 5px;
    margin-bottom: 101px;
    min-height: 72px;
  }
}

.promo__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.466667px;
  padding-left: 1px;
  margin-bottom: 34px;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 9px;
  }

  @media (max-width: $mobile-width) {
    color: $basic_black;
    margin-bottom: 20px;
  }
}

.promo__button {
  padding-right: 178px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-right: 105px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 39px;
    padding-right: 144px;
  }

  & svg {
    position: absolute;
    top: 30px;
    right: 39px;

    @media (max-width: $tablet-width) {
      top: 15px;
    }
  }
}
