.question {
  padding-left: 53px;
  padding-top: 56px;
  margin-bottom: 170px;
}

.question__wrapper {
  background-image: url("../img/sunset-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto;
  padding: 71px 0 69px;
}

.question__block {
  margin: 0;
  margin-left: 514px;
  background-color: $basic_white;
  width: 656px;
  min-height: 315px;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  padding: 50px;
}

.question__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: $dark;
  margin: 0;
  margin-bottom: 13px;
}

.question__prompt {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $dark;
  margin: 0;
  margin-bottom: 22px;
}

.question__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question__form input {
  width: 269px;
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid rgba($dark, 0.3);
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $dark;
  padding-left: 15px;

  &:first-child {
    padding-left: 25px;
  }
}

.question__button {
  margin: 0 auto;
  border: 0;
  font-family: inherit;
  height: 50px;
  padding: 0 38px;
  display: block;
}
