.question {
  padding-left: 53px;
  padding-top: 56px;
  margin-bottom: 170px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-top: 46px;
    margin-bottom: 82px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 19px;
    margin-bottom: 51px;
  }
}

.question__wrapper {
  background-image: url("../img/sunset-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto;
  padding: 71px 0 69px;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    background-size: cover;
  }

  @media (max-width: $mobile-width) {
    background-image: none;
    background-color: $light;
  }
}

.question__block {
  margin: 0;
  margin-left: auto;
  margin-right: 29px;
  background-color: $basic_white;
  width: 656px;
  min-height: 315px;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  padding: 50px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0 16px;
    width: auto;
    background-color: transparent;
  }
}

.question__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: $dark;
  margin: 0;
  margin-bottom: 13px;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.question__prompt {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $dark;
  margin: 0;
  margin-bottom: 22px;

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.question__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.question__form input {
  width: 269px;
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid rgba($dark, 0.3);
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $dark;
  padding-left: 15px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-left: auto;
    margin-right: auto;
    width: 288px;
  }

  &:first-child {
    padding-left: 25px;
  }
}

.question__button {
  margin: 0 auto;
  border: 0;
  font-family: inherit;
  height: 50px;
  padding: 0 38px;
  display: block;

  @media (max-width: $tablet-width) {
    padding: 0 84px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 102px;
  }
}
