@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .wrapper {
      width: auto;
      padding: 0 21px; } }
  @media (max-width: 767px) {
    .wrapper {
      padding: 0 16px; } }

.title {
  font-weight: 600;
  font-size: 55px;
  color: #2c2e3f; }
  @media (max-width: 1023px) {
    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: normal;
      text-align: center; } }
  @media (max-width: 767px) {
    .title {
      font-size: 24px;
      line-height: 36px; } }

.button {
  height: 75px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  background-color: #fe7865;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  padding: 30px 40px;
  letter-spacing: 2px; }
  .button:hover {
    background-color: #f17d4b; }
  @media (max-width: 1023px) {
    .button {
      height: 50px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      padding: 19px 40px; } }
  @media (max-width: 767px) {
    .button {
      padding: 19px 71px; } }

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 728px;
  height: 443px;
  background: #fbf8f8;
  z-index: 6; }
  @media (max-width: 767px) {
    .popup {
      width: auto;
      height: 568px;
      background-color: #ffffff;
      margin: auto 0; } }

.popup--close {
  display: none; }

.close-btn {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: block;
  padding: 0; }

.page {
  height: 100%;
  font-family: "Montserrat", "Verdana", sans-serif; }

.page__body {
  min-width: 320px;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; }

.page-header {
  width: 100%;
  min-height: 99px;
  padding-top: 39px; }
  @media (max-width: 1023px) {
    .page-header {
      min-height: 50px;
      padding-top: 0; } }

.page-header__wrapper {
  display: flex;
  position: relative; }
  @media (max-width: 1023px) {
    .page-header__wrapper {
      padding-right: 0; } }

.page-header__logo {
  margin-right: auto; }
  @media (max-width: 1023px) {
    .page-header__logo svg {
      width: 44px;
      height: 17px;
      margin-top: 18px; } }

.page-header__menu-button {
  display: none; }
  @media (max-width: 1023px) {
    .page-header__menu-button {
      display: block;
      border: none;
      width: 72px;
      height: 50px;
      background-color: #fe7865;
      padding-top: 3px; } }
  @media (max-width: 767px) {
    .page-header__menu-button {
      width: 50px;
      padding: 10px; } }

@media (max-width: 1023px) {
  .page-header__menu {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    min-height: 518px;
    z-index: 5;
    background-color: #ffffff; } }

@media (max-width: 1023px) {
  .page-header--close-menu .page-header__menu {
    display: none; } }

@media (max-width: 1023px) {
  .page-header--close-menu .page-header__close-btn {
    display: none; } }

@media (max-width: 1023px) {
  .page-header--close-menu .page-header__open-btn {
    display: inline-block; } }

@media (max-width: 1023px) {
  .page-header--open-menu .page-header__menu-button {
    background-color: transparent; } }

@media (max-width: 1023px) {
  .page-header--open-menu .page-header__open-btn {
    display: none; } }

@media (max-width: 1023px) {
  .page-header--open-menu .page-header__close-btn {
    display: inline-block; } }

@media (max-width: 1023px) {
  .page-header--nojs .page-header__menu-button {
    display: none; } }

@media (max-width: 1023px) {
  .page-header--nojs .page-header__menu {
    display: block;
    position: static; } }

@media (max-width: 1023px) {
  .page-header--nojs .page-header__wrapper {
    flex-direction: column; } }

.page-footer__wrapper {
  display: flex;
  padding-left: 28px;
  padding-right: 2px;
  padding-bottom: 60px; }
  @media (max-width: 1023px) {
    .page-footer__wrapper {
      flex-wrap: wrap;
      padding-right: 21px;
      padding-left: 21px; } }
  @media (max-width: 767px) {
    .page-footer__wrapper {
      padding-right: 16px;
      padding-left: 16px; } }

.page-footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #2c2e3f;
  margin: 0;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .page-footer__title {
      text-align: center;
      padding-right: 10px; } }

.page-footer__directions {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  @media (max-width: 1023px) {
    .page-footer__directions {
      margin-bottom: 23px; } }
  @media (max-width: 767px) {
    .page-footer__directions {
      justify-content: space-between;
      padding-right: 10px;
      margin-bottom: 26px; } }

.page-footer__item {
  width: 128px;
  margin-bottom: 8px; }
  @media (max-width: 1023px) {
    .page-footer__item {
      margin-bottom: 6px; } }
  @media (max-width: 767px) {
    .page-footer__item {
      text-align: center;
      margin-bottom: 14px; } }

.page-footer__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
  text-decoration: none; }

.page-footer__block {
  flex-grow: 1;
  max-width: 390px;
  border-right: 1px solid #d7d9df; }
  @media (max-width: 767px) {
    .page-footer__block {
      border-right: none;
      border-bottom: 1px solid #d7d9df;
      max-width: none;
      width: 100%; } }
  .page-footer__block:nth-child(2) {
    padding-left: 88px;
    padding-right: 30px; }
    @media (max-width: 1023px) {
      .page-footer__block:nth-child(2) {
        border: none;
        padding-left: 55px;
        padding-right: 0; } }
    @media (max-width: 767px) {
      .page-footer__block:nth-child(2) {
        padding-left: 0;
        padding-top: 29px; } }
  .page-footer__block:last-child {
    border-right: 0;
    padding-left: 48px;
    padding-right: 20px; }
    @media (max-width: 1023px) {
      .page-footer__block:last-child {
        border-top: 1px solid #d7d9df;
        flex-grow: 1;
        max-width: none;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 37px; } }
    @media (max-width: 767px) {
      .page-footer__block:last-child {
        border-bottom: none;
        padding-top: 30px; } }

@media (max-width: 767px) {
  .page-footer__block:last-child .page-footer__title {
    padding: 0; } }

@media (max-width: 767px) {
  .page-footer__contacts {
    text-align: center;
    padding-right: 11px; } }

.page-footer__phone,
.page-footer__email {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fe7865;
  padding-left: 42px;
  margin-bottom: 19px;
  position: relative; }
  @media (max-width: 767px) {
    .page-footer__phone,
    .page-footer__email {
      display: inline-block; } }
  .page-footer__phone svg,
  .page-footer__email svg {
    position: absolute;
    top: 0;
    left: 0;
    stroke: #d7d9df; }

.page-footer__email {
  margin-top: 22px; }
  @media (max-width: 767px) {
    .page-footer__email {
      margin-top: 3px; } }

@media (max-width: 1023px) {
  .page-footer__email-long {
    display: none; } }

.page-footer__email-short {
  display: none; }
  @media (max-width: 1023px) {
    .page-footer__email-short {
      display: inline; } }

.page-footer__phone {
  font-size: 16px;
  line-height: 32px; }
  @media (max-width: 767px) {
    .page-footer__phone {
      margin-bottom: 14px; } }

.page-footer__paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 21, 23, 0.5); }

.page-main {
  background-color: #ffffff;
  background-image: url("../img/map-bg@1x.png");
  background-repeat: no-repeat;
  background-position: center 2587px;
  background-size: auto; }
  @media (max-width: 1023px) {
    .page-main {
      background-image: none; } }

.menu {
  display: flex;
  color: #141517; }

.menu__main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 2px;
  margin-right: 3px; }
  @media (max-width: 1023px) {
    .menu__main-nav-list {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      margin: 0;
      padding-top: 84px; } }

.menu__item {
  margin-right: 40px; }
  @media (max-width: 1023px) {
    .menu__item {
      margin-right: 0;
      height: 60px;
      margin-bottom: 30px; } }

.menu__link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  position: relative; }
  @media (max-width: 1023px) {
    .menu__link {
      background-color: #fbf8f8;
      display: block;
      height: 100%;
      padding: 17px 16px;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #48494d; } }
  .menu__link:hover {
    color: #fe7865; }
  .menu__link svg {
    display: none; }
    @media (max-width: 1023px) {
      .menu__link svg {
        display: inline;
        position: absolute;
        top: 23px;
        right: 25px; } }

.menu__phone {
  color: inherit;
  font-size: 18px;
  font-weight: normal;
  margin-top: 3px;
  margin-right: 15px;
  padding-left: 50px;
  position: relative; }
  @media (max-width: 1023px) {
    .menu__phone {
      display: none; } }
  .menu__phone:hover {
    color: #fe7865; }
  .menu__phone svg {
    position: absolute;
    top: -4px;
    left: 11px;
    stroke: currentColor; }

.directions {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.promo {
  min-height: 860px;
  color: #ffffff;
  background-color: #2c2e3f;
  background-image: url("../img/meteora-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .promo {
      background-image: url("../img/meteora-bg@2x.jpg"); } }
  @media (max-width: 1023px) {
    .promo {
      min-height: 344px; } }
  @media (max-width: 767px) {
    .promo {
      background-position: center top;
      height: 235px;
      min-height: auto;
      margin-bottom: 201px; } }

.promo__wrapper {
  padding-top: 185px; }
  @media (max-width: 1023px) {
    .promo__wrapper {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    .promo__wrapper {
      padding-top: 82px; } }

.promo__block {
  width: 390px;
  margin-left: auto;
  margin-right: 80px; }
  @media (max-width: 1023px) {
    .promo__block {
      margin: 0 auto;
      width: 398px;
      text-align: center; } }
  @media (max-width: 767px) {
    .promo__block {
      width: auto; } }

.promo__title {
  color: inherit;
  margin: 0;
  letter-spacing: -1.10667px;
  line-height: 80px;
  margin-bottom: 28px; }
  @media (max-width: 1023px) {
    .promo__title {
      line-height: 45px;
      letter-spacing: normal;
      margin-bottom: 18px; } }
  @media (max-width: 767px) {
    .promo__title {
      line-height: 36px;
      padding-left: 5px;
      margin-bottom: 101px;
      min-height: 72px; } }

.promo__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.466667px;
  padding-left: 1px;
  margin-bottom: 34px; }
  @media (max-width: 1023px) {
    .promo__paragraph {
      text-align: center;
      margin-bottom: 9px; } }
  @media (max-width: 767px) {
    .promo__paragraph {
      color: #000000;
      margin-bottom: 20px; } }

.promo__button {
  padding-right: 178px;
  position: relative; }
  @media (max-width: 1023px) {
    .promo__button {
      padding-right: 105px; } }
  @media (max-width: 767px) {
    .promo__button {
      padding-left: 39px;
      padding-right: 144px; } }
  .promo__button svg {
    position: absolute;
    top: 30px;
    right: 39px; }
    @media (max-width: 1023px) {
      .promo__button svg {
        top: 15px; } }

.places__wrapper {
  padding-top: 154px;
  margin-bottom: -1px;
  max-width: 1320px;
  padding-left: 75px; }
  @media (max-width: 1023px) {
    .places__wrapper {
      padding-top: 37px;
      padding-left: 51px;
      margin-bottom: 90px; } }
  @media (max-width: 767px) {
    .places__wrapper {
      padding-left: 16px;
      padding-top: 64px;
      margin-bottom: 7px; } }

.places__top {
  width: 358px; }
  @media (max-width: 1023px) {
    .places__top {
      width: 373px;
      margin: 0 auto;
      padding-right: 30px; } }
  @media (max-width: 767px) {
    .places__top {
      padding-right: 0;
      width: auto; } }

.places__title {
  line-height: 80px;
  letter-spacing: -1.245px;
  position: relative;
  padding-bottom: 33px;
  margin-bottom: 31px; }
  @media (max-width: 1023px) {
    .places__title {
      letter-spacing: normal;
      padding-bottom: 0;
      margin-bottom: 0; } }
  .places__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 229px;
    height: 4px;
    background-color: #fe7865; }
    @media (max-width: 1023px) {
      .places__title::after {
        display: none; } }

.places__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 55px; }
  @media (max-width: 1023px) {
    .places__paragraph {
      text-align: center;
      margin-top: 4px;
      padding-top: 0;
      margin-bottom: 39px; } }
  @media (max-width: 767px) {
    .places__paragraph {
      margin-top: -2px;
      margin-bottom: 19px; } }

.places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 767px) {
    .places__list {
      flex-direction: column;
      align-items: center; } }

.places__item {
  position: relative;
  margin-right: 60px;
  margin-bottom: 102px;
  width: 350px;
  height: 430px; }
  @media (max-width: 1023px) {
    .places__item {
      width: 288px;
      height: 425px;
      margin-right: 30px;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .places__item {
      margin-right: 0;
      margin-bottom: 35px; } }

.places__link {
  position: relative;
  display: block; }

.places__link:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(20, 21, 23, 0.6); }

.places__link:hover::before {
  content: "смотреть подробнее";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 266px;
  height: 77px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #ffffff;
  padding-top: 30px;
  margin: auto; }

.places__country {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 215px;
  min-height: 61px;
  background-color: #ffffff;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.415px;
  color: #2c2e3f;
  padding-top: 17px; }

.countries {
  padding-bottom: 20px;
  margin-bottom: 216px; }
  @media (max-width: 1023px) {
    .countries {
      margin-bottom: 0; } }

@media (max-width: 1023px) {
  .countries__wrapper {
    padding: 0; } }

.countries__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding-bottom: 16px;
  margin-bottom: 79px; }
  @media (max-width: 1023px) {
    .countries__list {
      margin-left: 38px;
      margin-bottom: 14px;
      margin-right: 0;
      justify-content: space-between; } }
  @media (max-width: 767px) {
    .countries__list {
      margin-left: 16px;
      margin-right: 16px; } }

.countries__item {
  margin-right: 100px; }
  @media (max-width: 1023px) {
    .countries__item {
      margin-left: 0; } }
  .countries__item:last-child {
    margin-right: 0; }
    @media (max-width: 1023px) {
      .countries__item:last-child {
        display: none; } }
  @media (max-width: 767px) {
    .countries__item--albania {
      margin-right: 0; } }
  @media (max-width: 767px) {
    .countries__item--macedonia {
      display: none; } }
  @media (max-width: 1023px) {
    .countries__item--montenegro {
      margin-right: 0; } }
  @media (max-width: 767px) {
    .countries__item--montenegro {
      display: none; } }

.countries__button {
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.415px;
  color: rgba(44, 46, 63, 0.3);
  border: none; }
  .countries__button--active {
    color: #fe7865; }

.countries__block {
  display: none;
  position: relative; }
  .countries__block--active {
    display: flex; }
  @media (max-width: 1023px) {
    .countries__block {
      flex-direction: column; } }

.countries__info {
  width: 370px;
  margin-right: 100px; }
  @media (max-width: 1023px) {
    .countries__info {
      width: auto;
      margin-right: 0;
      text-align: center; } }

.countries__title {
  letter-spacing: -1.245px;
  position: relative;
  padding-bottom: 29px;
  margin-top: 21px;
  margin-bottom: 31px; }
  @media (max-width: 1023px) {
    .countries__title {
      letter-spacing: normal;
      padding-bottom: 0;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .countries__title {
      margin-top: 11px; } }
  .countries__title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: #fe7865; }
    @media (max-width: 1023px) {
      .countries__title::before {
        display: none; } }

.countries__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 49px; }
  @media (max-width: 1023px) {
    .countries__description {
      text-align: center;
      margin-left: 21px;
      margin-right: 21px;
      margin-bottom: 19px; } }

.countries__buy-button {
  border: 0;
  font-family: inherit; }
  @media (max-width: 1023px) {
    .countries__buy-button {
      min-width: 250px;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .countries__buy-button {
      margin-bottom: 50px; } }

@media (max-width: 1023px) {
  .countries__box {
    height: 415px;
    overflow: hidden; } }

@media (max-width: 1023px) {
  .countries__picture {
    width: 100%; } }

.countries__review {
  position: absolute;
  top: 114px;
  right: 0;
  width: 382px;
  background-color: #ffffff; }
  @media (max-width: 1023px) {
    .countries__review {
      top: auto;
      bottom: -31px;
      left: 0;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .countries__review {
      width: 268px;
      bottom: -71px; } }

.review {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 38px; }
  @media (max-width: 767px) {
    .review {
      padding-left: 20px;
      padding-right: 20px; } }

.review__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  color: #2c2e3f;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 13px;
  position: relative; }
  @media (max-width: 767px) {
    .review__title {
      font-size: 20px;
      line-height: 24px;
      padding-right: 3px;
      text-align: center; } }
  .review__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 68px;
    height: 1px;
    background-color: #fe7865; }
    @media (max-width: 767px) {
      .review__title::after {
        right: 3px;
        margin: 0 auto; } }

.review__paragraph {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 41px; }
  @media (max-width: 767px) {
    .review__paragraph {
      text-align: center;
      margin-bottom: 20px; } }

.review__author {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.466667px;
  position: relative;
  color: #2c2e3f;
  padding-left: 54px; }
  @media (max-width: 767px) {
    .review__author {
      padding-top: 47px;
      display: block;
      text-align: center;
      padding-left: 0; } }

.countries__avatar {
  position: absolute;
  top: -10px;
  left: 1px;
  border-radius: 50%; }
  @media (max-width: 767px) {
    .countries__avatar {
      top: -3px;
      left: 0;
      right: 0;
      margin: 0 auto; } }

.price {
  background-color: transparent;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .price {
      padding-bottom: 10px; } }

.price__wrapper {
  display: flex;
  flex-direction: row-reverse; }
  @media (max-width: 1023px) {
    .price__wrapper {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; } }
  @media (max-width: 767px) {
    .price__wrapper {
      flex-direction: column;
      align-items: center; } }

.price__block {
  max-width: 310px;
  padding-left: 11px;
  margin-right: -10px;
  margin-left: auto; }
  @media (max-width: 1023px) {
    .price__block {
      max-width: none;
      padding-left: 0;
      margin-right: 0;
      margin-bottom: 16px; } }

.price__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: #2c2e3f;
  margin-top: 112px;
  padding-bottom: 17px;
  position: relative;
  margin-bottom: 30px; }
  @media (max-width: 1023px) {
    .price__title {
      font-size: 30px;
      line-height: 45px;
      margin-top: 87px;
      padding-bottom: 0;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .price__title {
      font-size: 24px;
      line-height: 36px;
      margin-top: 92px; } }
  .price__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: #fe7865; }
    @media (max-width: 1023px) {
      .price__title::after {
        display: none; } }

.price__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 61px; }
  @media (max-width: 1023px) {
    .price__paragraph {
      text-align: center;
      margin-bottom: 33px; } }
  @media (max-width: 767px) {
    .price__paragraph {
      margin-bottom: 18px; } }

.price__contact span {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #2c2e3f;
  display: block;
  padding-left: 46px;
  margin-bottom: 12px; }
  @media (max-width: 1023px) {
    .price__contact span {
      text-align: center;
      font-size: 18px;
      line-height: 34px;
      padding-left: 0; } }

.price__contact .price__phone {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  position: relative; }
  @media (max-width: 1023px) {
    .price__contact .price__phone {
      color: #fe7865;
      font-size: 18px; } }
  @media (max-width: 767px) {
    .price__contact .price__phone {
      margin-bottom: 21px; } }
  .price__contact .price__phone svg {
    stroke: #fe7865;
    position: absolute;
    top: 0;
    left: -4px; }
    @media (max-width: 1023px) {
      .price__contact .price__phone svg {
        display: none; } }

.offer {
  box-shadow: 0 0 0 1px rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  width: 370px;
  min-height: 672px;
  margin-right: 30px;
  padding: 30px;
  padding-right: 26px;
  background-color: #ffffff;
  position: relative; }
  .offer:hover {
    box-shadow: 0 0 0 3px #fe7865; }
  @media (max-width: 1023px) {
    .offer {
      width: 288px;
      min-height: 629px;
      margin: 0;
      padding: 20px;
      padding-top: 29px; } }
  @media (max-width: 767px) {
    .offer {
      min-height: 600px; } }
  .offer--complex {
    padding: 27px; }
    @media (max-width: 1023px) {
      .offer--complex {
        padding: 16px;
        padding-top: 27px;
        min-height: 631px; } }
    @media (max-width: 767px) {
      .offer--complex {
        padding-bottom: 0;
        min-height: 618px;
        margin-bottom: 27px; } }
  .offer:nth-child(2) {
    margin-right: 0; }
    @media (max-width: 1023px) {
      .offer:nth-child(2) {
        order: 1;
        margin-left: 50px; } }
    @media (max-width: 767px) {
      .offer:nth-child(2) {
        margin-left: 0; } }

.offer__top {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1023px) {
    .offer__top {
      flex-direction: column;
      align-items: center; } }

.offer__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27273px;
  color: rgba(44, 46, 63, 0.7);
  margin-top: 8px;
  margin-bottom: 22px; }
  @media (max-width: 1023px) {
    .offer__title {
      margin-top: 0;
      font-size: 24px;
      line-height: 38px;
      margin-bottom: 0; } }

.offer--complex .offer__title {
  letter-spacing: 0;
  color: #fe7865;
  margin-bottom: 23px; }
  @media (max-width: 1023px) {
    .offer--complex .offer__title {
      margin-bottom: 0; } }

.offer__price {
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  margin-top: 13px;
  color: rgba(20, 21, 23, 0.7); }
  @media (max-width: 1023px) {
    .offer__price {
      margin-top: 6px; } }

.offer--complex .offer__price {
  color: #fe7865;
  margin-top: 10px; }
  @media (max-width: 1023px) {
    .offer--complex .offer__price {
      margin-top: 6px; } }

.offer__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2c2e3f;
  padding-right: 20px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding-bottom: 27px; }
  @media (max-width: 1023px) {
    .offer__paragraph {
      margin-top: 12px;
      text-align: center;
      padding-right: 0;
      padding-bottom: 8px; } }

.offer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #2c2e3f;
  padding-top: 15px;
  padding-left: 29px;
  padding-right: 5px;
  margin-bottom: 29px; }
  @media (max-width: 1023px) {
    .offer__list {
      padding-top: 5px; } }
  @media (max-width: 767px) {
    .offer__list {
      margin-bottom: 59px; } }

.offer--complex .offer__list {
  margin-bottom: 53px; }
  @media (max-width: 1023px) {
    .offer--complex .offer__list {
      margin-bottom: 43px; } }
  @media (max-width: 767px) {
    .offer--complex .offer__list {
      margin-bottom: 0; } }

.offer__item {
  margin-bottom: 15px;
  position: relative; }
  @media (max-width: 1023px) {
    .offer__item {
      margin-bottom: 10px; } }
  .offer__item svg {
    position: absolute;
    top: 10px;
    left: -30px;
    fill: #fe7865; }

.offer--complex svg {
  fill: #141517;
  left: -25px; }

.offer--complex .offer__item:first-child {
  margin-bottom: 6px; }

.offer__buy-button {
  display: block; }
  @media (max-width: 1023px) {
    .offer__buy-button {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; } }
  @media (max-width: 767px) {
    .offer__buy-button {
      padding-right: 30px;
      padding-left: 30px; } }

.question {
  padding-left: 53px;
  padding-top: 56px;
  margin-bottom: 170px; }
  @media (max-width: 1023px) {
    .question {
      padding-left: 0;
      padding-top: 46px;
      margin-bottom: 82px; } }
  @media (max-width: 767px) {
    .question {
      padding-top: 19px;
      margin-bottom: 51px; } }

.question__wrapper {
  background-image: url("../img/sunset-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto;
  padding: 71px 0 69px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .question__wrapper {
      background-image: url("../img/sunset-bg@2x.jpg"); } }
  @media (max-width: 1023px) {
    .question__wrapper {
      padding-top: 70px;
      background-size: cover; } }
  @media (max-width: 767px) {
    .question__wrapper {
      background-image: none;
      background-color: #fbf8f8; } }

.question__block {
  margin: 0;
  margin-left: auto;
  margin-right: 29px;
  background-color: #ffffff;
  width: 656px;
  min-height: 315px;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  padding: 50px; }
  @media (max-width: 1023px) {
    .question__block {
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .question__block {
      box-shadow: none;
      border-radius: 0;
      margin: 0;
      padding: 0 16px;
      width: auto;
      background-color: transparent; } }

.question__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #2c2e3f;
  margin: 0;
  margin-bottom: 13px; }
  @media (max-width: 767px) {
    .question__title {
      margin-bottom: 20px; } }

.question__prompt {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2c2e3f;
  margin: 0;
  margin-bottom: 22px; }
  @media (max-width: 767px) {
    .question__prompt {
      margin-bottom: 19px; } }

.question__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .question__form {
      flex-direction: column; } }

.question__form input {
  width: 269px;
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid rgba(44, 46, 63, 0.3);
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2c2e3f;
  padding-left: 15px; }
  @media (max-width: 1023px) {
    .question__form input {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .question__form input {
      margin-left: auto;
      margin-right: auto;
      width: 288px; } }
  .question__form input:first-child {
    padding-left: 25px; }

.question__button {
  margin: 0 auto;
  border: 0;
  font-family: inherit;
  height: 50px;
  padding: 0 38px;
  display: block; }
  @media (max-width: 1023px) {
    .question__button {
      padding: 0 84px; } }
  @media (max-width: 767px) {
    .question__button {
      padding: 0 102px; } }

.popup-buy {
  background-image: url("../img/sea-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
  padding: 72px 0 89px 338px; }
  @media (max-width: 767px) {
    .popup-buy {
      background-image: none;
      padding: 100px 16px; } }

.popup-buy__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: #48494d; }

.popup-buy__form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.popup-buy__input {
  width: 270px;
  height: 50px;
  border: 1px solid #d7d9df;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #48494d;
  padding: 15px; }
  @media (max-width: 767px) {
    .popup-buy__input {
      width: 288px; } }

.popup-buy__button {
  border: 0;
  width: 176px;
  height: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0; }
  @media (max-width: 767px) {
    .popup-buy__button {
      width: 288px; } }

.popup-success {
  font-weight: 500;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: #48494d;
  padding: 179px 165px; }

/*# sourceMappingURL=style.css.map */
