img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: auto;
    padding: 0 21px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}

.title {
  font-weight: 600;
  font-size: 55px;
  color: $dark;

  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.button {
  height: 75px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  background-color: $accent;
  color: $basic_white;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  padding: 30px 40px;
  letter-spacing: 2px;

  &:hover {
    background-color: $accent_hover;
  }

  @media (max-width: $tablet-width) {
    height: 50px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding: 19px 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 19px 71px;
  }
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 728px;
  height: 443px;
  background: $light;
  z-index: 6;

  @media (max-width: $mobile-width) {
    width: auto;
    height: 568px;
    background-color: $basic_white;
    margin: auto 0;
  }
}

.popup--close {
  display: none;
}

.close-btn {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24x;
  height: 24px;
  display: block;
  padding: 0;
}
