// Начните писать стили здесь

@import "variables.scss";
@import "fonts.scss";
@import "global.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-main.scss";
@import "blocks/menu.scss";
@import "blocks/directions.scss";
@import "blocks/promo.scss";
@import "blocks/places.scss";
@import "blocks/countries.scss";
@import "blocks/review.scss";
@import "blocks/price.scss";
@import "blocks/offer.scss";
@import "blocks/question.scss";
@import "blocks/popup-buy.scss";
