$basic_white: #ffffff;
$basic_black: #000000;
$accent: #fe7865;
$accent_hover: #f17d4b;
$darkest: #141517;
$dark: #2c2e3f;
$light: #fbf8f8;
$light_grey: #d7d9df;
$dark_grey: #48494D;

$mobile-width: 767px;
$tablet-width: 1023px;
