$basic_white: #ffffff;
$basic_black: #000000;
$accent: #fe7865;
$accent_hover: #f17d4b;
$darkest: #141517;
$dark: #2c2e3f;
$light: #fbf8f8;

$tablet-width: 768px;
$desktop-width: 1024px;
$only-tablet-wigth: 1439px;
